footer.footer-container(layout='row', layout-align='start center')
    span.copy-right
        | &#169; Olivia Grace. Developed by 
        a(href='https://github.com/Ciccio99' target='_blank') 
            u Alberto Scicali
