header
    position absolute
    top 0
    left 0
    right 0
    z-index 1

.nav-buttons-holder
    padding 45px 65px 0 0
    width 440px
   
.navbar-link
    font 600 1.6rem 'Helvetica Neue'
    letter-spacing 0.2rem
    color #fafafa
    text-decoration none 
    &:hover
        color gray
