header
    position: absolute
    top 0
    left 0
    width 100%
    z-index 1

.nav-buttons-holder
   
.navbar-link
    font 600 1.6rem 'Helvetica Neue'
    letter-spacing 0.2rem
    color #fafafa
    text-decoration none 
    &:hover
        color gray
