header#Sticky_Nav(layout='row', layout-align='end center')
    section.nav-buttons-holder(layout='row')
        a.navbar-link.active-nav(ui-sref='home', ng-show='nav.includes("work")') WORK
        a.navbar-link.active-nav(ui-sref='home', ui-sref-active="active-nav", ng-hide='nav.includes("work")') WORK
        //- a.navbar-link(ui-sref='about', ui-sref-active="active-nav") ABOUT
        a.navbar-link(ui-sref='resume', ui-sref-active="active-nav") RESUME
