header(layout='row', layout-align='end center')
    section.nav-buttons-holder(layout='row', layout-align='space-between')
        a.navbar-link(ui-sref='home', ui-sref-active="active-nav") WORK
        a.navbar-link(ui-sref='about', ui-sref-active="active-nav") ABOUT
        a.navbar-link(ui-sref='resume', ui-sref-active="active-nav") RESUME
