header(layout='row', layout-align='end center')
    section.nav-buttons-holder(layout='row', layout-align='space-between')
        a.navbar-link(ui-sref='home') WORK
        a.navbar-link(ui-sref='about') ABOUT
        a.navbar-link(ui-sref='resume') RESUME
