
<main-navbar></main-navbar>
<md-content id="Main_Content_Root" layout="column" layout-align="start center" ng-cloak>
  <div layout="row" layout-align="center center" ng-cloak class="jumbotron-tidal"><img ng-src="{{case_study.case_study.marquee_image}}"></div>
  <div layout="column" ng-cloak class="project-case-content">
    <div layout="row" layout-wrap class="panel-row brief-panel"><span flex="100" class="brief-header">The brief</span>
      <div layout="column" flex="60" class="left-brief-section">
        <p class="main-brief">{{case_study.case_study.brief}}</p>
        <p class="sub-brief">{{case_study.case_study.sub_brief}}            </p>
      </div>
      <div layout="column" flex class="right-brief-section">
        <div><span>Client</span>
          <p>{{case_study.case_study.client}} </p>
        </div>
        <div><span>Role</span>
          <p>{{case_study.case_study.role}} </p>
        </div>
        <div><span>Duration</span>
          <p>{{case_study.case_study.duration}} </p>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center center" ng-cloak class="panel-row product-shots-panel"><img ng-src="{{case_study.case_study.product_images[0]}}" alt="Product image"></div>
    <div layout="column" layout-align="start center" ng-cloak class="panel-row solution-panel"><span class="panel-header-titles">Solution</span>
      <p class="main-solution">{{case_study.case_study.solution}}</p>
      <div layout="row" layout-align="center start" layout-wrap class="sub-solutions-tidal">
        <div flex flex-sm="100" layout="column" layout-align="start start" ng-repeat="sub_solution in case_study.case_study.sub_solutions"><span>{{sub_solution.title}}</span>
          <p>{{sub_solution.body}}</p>
        </div>
      </div>
    </div>
    <div layout="column" layout-align="start center" ng-cloak class="panel-row visual-design-panel visual-design-panel-tidal"><span class="panel-header-titles">Visual Design</span>
      <p>{{case_study.case_study.visual_design_text}}</p><img ng-src="{{case_study.case_study.moodboard}}" alt="Sartorial Moodboard">
    </div>
    <div layout="column" layout-align="start center" ng-cloak class="panel-row final-designs-panel final-designs-panel-tidal"><span class="panel-header-titles">Final Designs</span>
      <slick infinite="false" slides-to-scroll="1" slides-to-show="2" dots="true" swipe-to-slide="true" variable-width="true" init-onload="true" data="case_study.case_study.final_design_images" class="slick-carousel">
        <div ng-repeat="final_img in case_study.case_study.final_design_images" class="wireframe-slick"><img ng-src="{{final_img}}" alt="Final Design image"></div>
      </slick>
    </div>
    <div layout="column" layout-align="center center" ng-cloak class="panel-row thanks-panel thanks-panel-tidal"><span>Thanks for scrolling!</span>
      <p>Like what you see? Don't be shy and <a class='thanks-link' href="mailto:oxg7534@rit.edu?Subject=Hello%20there!" target="_top">say hello!</a><br>check out my other projects below:</p>
    </div>
    <div layout="row" ng-cloak class="panel-row other-projects-panel">
      <div ui-sref="work({case_study: &quot;sartorial&quot;})" flex="50" class="previous-project-panel-tidal">
        <div layout-fill layout="column" layout-align="center center" class="filter-layer"><span>Previous Project</span>
          <p>Sartorial</p>
        </div>
      </div>
      <div ui-sref="work({case_study: &quot;misfit&quot;})" flex="50" class="next-project-panel-tidal">
        <div layout-fill layout="column" layout-align="center center" class="filter-layer"><span>Next Project</span>
          <p>Misfit</p>
        </div>
      </div>
    </div>
  </div>
</md-content>