main-navbar
md-content#Main_Content_Root(layout='column', layout-align='start center', ng-cloak)
    .jumbotron.become-sticky-here(layout='row', layout-align='center center')
        div.main-jumbotron-container(layout='column', layout-align='start center')
            div.main-jumbotron-image-container
                img(ng-src='../assets/images/Hello.png', alt="Hello! I'm Olivia.")
            span Interaction & Visual Designer

    .project-cases(layout='column', ng-cloak)
        .project-cases-item(layout='row', ng-cloak)
            .project-case-item-info-panel.project-case-item-info-panel-nomad(flex='60', layout='column', layout-align='start center')
                .project-case-body-nomad(layout='column')
                    .project-case-headers(layout='column')
                        span.project-case-sub-header {{main.case_studies[4].type}}
                        span.project-case-main-header.project-case-main-header-nomad {{main.case_studies[4].name}}
                    .project-case-info.project-case-info-nomad(layout='column')
                        p {{main.case_studies[4].description}}
                        a.case-study-link(ui-sref='work({case_study: "nomad"})') view case study 
                            img(ng-src='../assets/Arrows/Main_Page_Arrow.png')
            .project-case-image-nomad.max-ipad-width
                img.slide-animation-to-left(src='{{main.case_studies[4].preview_image_path}}' alt='Nomad tablet image')

        .project-cases-item.project-case-item-tidal(layout='row', ng-cloak)
            .project-case-image-tidal.max-iphone-width
                img.slide-animation-to-right(src='{{main.case_studies[1].preview_image_path}}' alt='Tidal iPhone image')
            .project-case-item-info-panel.project-case-item-info-panel-tidal(flex-offset='45', flex, layout='column', layout-align='start center')
                .project-case-body-tidal(layout='column')
                    .project-case-headers(layout='column')
                        span.project-case-sub-header {{main.case_studies[1].type}}
                        span.project-case-main-header.project-case-main-header-tidal {{main.case_studies[1].name}}
                    .project-case-info.project-case-info-tidal(layout='column')
                        p {{main.case_studies[1].description}}
                        a.case-study-link(ui-sref='work({case_study: "tidal"})') view case study
                            img(ng-src='../assets/Arrows/Main_Page_Arrow.png')

        .project-cases-item.project-case-item-concerto(layout='row')
            .project-case-item-info-panel(flex='60', layout='column', layout-align='start center')
                .project-case-body-concerto(layout='column')
                    .project-case-headers(layout='column')
                        span.project-case-sub-header {{main.case_studies[2].type}}
                        span.project-case-main-header.project-case-main-header-concerto {{main.case_studies[2].name}}
                    .project-case-info.project-case-info-concerto(layout='column')
                        p {{main.case_studies[2].description}}
                        a.case-study-link(ui-sref='work({case_study: "concerto"})') view case study
                            img(ng-src='../assets/Arrows/Main_Page_Arrow.png')
            .project-case-image-concerto.max-mac-width
                img.slide-animation-to-left(src='{{main.case_studies[2].preview_image_path}}' alt='Concerto Mac image')

        .project-cases-item.project-case-item-sartorial(layout='row', ng-cloak)
            .project-case-image-sartorial.max-iphone-width
                img.slide-animation-to-right(src='{{main.case_studies[0].preview_image_path}}' alt='Sartorial iPhone image')
            .project-case-item-info-panel.project-case-item-info-sartorial(flex-offset='45', flex, layout='column', layout-align='start center')
                .project-case-body-sartorial(layout='column')
                    .project-case-headers(layout='column')
                        span.project-case-sub-header {{main.case_studies[0].type}}
                        span.project-case-main-header.project-case-main-header-sartorial {{main.case_studies[0].name}}
                    .project-case-info.project-case-info-sartorial(layout='column')
                        p {{main.case_studies[0].description}}
                        a.case-study-link(ui-sref='work({case_study: "sartorial"})') view case study
                            img(ng-src='../assets/Arrows/Main_Page_Arrow.png')

        .project-cases-item(layout='row', ng-cloak)
            .project-case-item-info-panel(flex='60', layout='column', layout-align='start center')
                .project-case-body-misfit(layout='column')
                    .project-case-headers(layout='column')
                        span.project-case-sub-header {{main.case_studies[3].type}}
                        span.project-case-main-header.project-case-main-header-misfit {{main.case_studies[3].name}}
                    .project-case-info.project-case-info-misfit(layout='column')
                        p {{main.case_studies[3].description}}
                        a.case-study-link(ui-sref='work({case_study: "misfit"})') view case study
                            img(ng-src='../assets/Arrows/Main_Page_Arrow.png')
            .project-case-image-misfit.max-iphone-width
                img.slide-animation-to-left(src='{{main.case_studies[3].preview_image_path}}' alt='Misfit iPhone image')
        .project-cases-item.main-page-social-media-panel.limit-width(layout='row', layout-align='center end' ng-cloak)
            .social-media-links
                span
                    a(href="mailto:oliviagsutanto@gmail.com?Subject=Hello%20there!" target="_top") Mail
                span
                    a(href='{{main.case_studies[5].linkedin_link}}', target='_blank') LinkedIn
                span
                    a(href='{{main.case_studies[5].dribbble_link}}', target='_blank') Dribbble
                span
                    a(href='{{main.case_studies[5].instagram_link}}', target='_blank') Instagram
    include ../components/footer/footer
