main-navbar
md-content(layout='column')
    .jumbotron(flex, layout='row')
    .project-cases
        .project-cases-item.project-case-item-sartorial(layout='row')
            .project-case-item-info-panel(flex='55', layout='column', layout-align='start center')
                img.project-case-sartorial-letter(src='../assets/letters/s.png', alt='Sartorial Letter S')
                .project-case-body(layout='column')
                    .project-case-headers(layout='column')
                        span.project-case-sub-header Mobile app
                        span.project-case-main-header Sartorial
                    .project-case-info(layout='column')
                        p Challenge Creativity on daily basis, through a photo sharing platform and also build brand loyalty.
                        a.case-study-link(ui-ref='#') view case study
            img.project-case-image(src='../assets/homepage-devices/sartorial-iphone.png' alt='Sartorial iPhone image')
            