.jumbotron
	background url('../../assets/images/bw.jpg') no-repeat
	background-size cover
	height 670px
	
.project-cases-item
	position relative
	margin-top 12rem
	height 1000px

.project-case-image
		position absolute
		left: 750px

.project-case-item-info-panel
	position relative
	padding-top 15rem
	
.project-case-body
	font-family 'Helvetica Neue'
	position absolute
	left 14%
	right 0
	margin-top 180px

.project-case-main-header 
	font 500 4.3rem 'Helvetica Neue' Arial
	color #ad956b
	margin-top 10px
		
.project-case-sub-header
	font 400 1.6rem 'Helvetica Neue' Arial

.project-case-info
	position absolute
	left 17%
	right 0
	& p
		font 400 1.8rem 'Helvetica Neue' Arial
		line-height 32px
		letter-spacing: 0.1rem
	& a
		font 400 1.6rem 'Helvetica Neue' Arial
		letter-spacing 0.1rem
		margin-top 20px
