main-navbar
md-content(layout='column')
    .jumbotron(flex, layout='row')
    .project-cases(layout='column')
        .project-cases-item(layout='row')
            .project-case-item-info-panel(flex='55', layout='column', layout-align='start center')
                img(src='{{main.case_studies[0].letter_path}}', alt='Big Letter')
                .project-case-body(layout='column')
                    .project-case-headers(layout='column')
                        span.project-case-sub-header {{main.case_studies[0].type}}
                        span.project-case-main-header {{main.case_studies[0].name}}
                    .project-case-info(layout='column')
                        p {{main.case_studies[0].description}}
                        a.case-study-link(ui-ref='{{main.case_studies[0].id}}') view case study
            img.project-case-image(src='{{main.case_studies[0].preview_image_path}}' alt='Sartorial iPhone image')
            