/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower
html
  font-size 62.5%

#Main_Content_Root
  overflow-x hidden

[layout=row]
  flex-direction row

p
  margin 0
  
a 
  text-decoration none
  color black

button
  padding 0

[ng-cloak]
  display none !important

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
