md-content#Main_Content_Root(layout='column', layout-align='start center')
    .jumbotron-sartorial(layout='row', layout-align='center center')
        img(ng-src='../../../assets/Sartorial/Marquee/letter.png')
    .project-case-content(layout='column')
        .panel-row.brief-panel(layout='row')
            .left-brief-section(layout='column', flex='60')
                span The brief
                p {{sartorial.case_study.brief}}
                p {{sartorial.case_study.sub_brief}}            
            .right-brief-section(layout='column', flex)
                div
                    span Client
                    span {{sartorial.case_study.client}} 
                div
                    span Role
                    span {{sartorial.case_study.role}} 
                div
                    span Duration
                    span {{sartorial.case_study.duration}} 
        .panel-row.product-shots-panel
            img(src='{{sartorial.case_study.product_img_1}}' alt='Sartorial product image')
        .panel-row.solution-panel(layout='column', layout-align='center center')
            h1 Solution
            p {{sartorial.case_study.solution}}
        .panel-row.wireframes-panel
            h1 Wireframes
        .panel-row.visual-design-panel(layout='column', layout-align='start center')
            h1 Visual Design
            p {{sartorial.case_study.visual_design_text}}
            img(ng-src='{{sartorial.case_study.moodboard}}', alt='Sartorial Moodboard')
        .panel-row.thanks-panel(layout='column', layout-align='center center')
            h1 Thanks for scrolling!
            span Like what you see? Don't be shy and say hello!
            span Or check out my other project below:
        .panel-row.other-projects-panel(layout='row')
            .previous-project-panel(layout='column', layout-align='center center', flex)
                span Previous Project
                a(ui-sref='Concerto') Concerto
            .next-project-panel(layout='column', layout-align='center center', flex)
                span Previous project
                a(ui-sref='Sartorial') Sartorial

