@require './constants'

.jumbotron-about
    height 725px
    width 100%
    background-color #fafafa
    & img
        width 550px

.about-panel-col
    max-width 1440px
    
.about-intro-text
    margin-top 107px
    max-width 700px
    font 500 3.3rem font-chaparral
    line-height 47.5pt
    letter-spacing -0.02em
    color #333333
    
.about-second-text
    margin-top 67px
    max-width 700px
    font 400 2rem font-dagny
    line-height 32.5pt
    letter-spacing -0.01em
    color #737373

.about-third-text
    margin-top 40px
    max-width 700px
    font 400 2rem font-dagny
    line-height 32.5pt
    color #737373
    letter-spacing -0.01em
    & a
        font 700 2rem font-dagny
        line-height 32.5pt
        color #737373
        letter-spacing: -0.01em
.about-links
    margin-top 100px
    margin-bottom 212px
    & span
        &:not(:last-child)
            margin-right 13%
        & a
            font 600 2rem font-dagny
            color #949494
            &:hover
                color #2aa89e

@media (max-width: 740px)
    .about-text
        padding 0 8%
    .jumbotron-about
        & img
            width 80%
    

