@require './constants'

.jumbotron-about
    height 725px
    width 100%
    background-color #fafafa
    

.about-panel-col
    max-width 1440px
    
.about-intro-text
    margin-top 109px
    max-width 700px
    font 400 3rem font-chaparral
    line-height 42.5px
    letter-spacing -0.025em
    color #333333
    
.about-second-text
    margin-top 59px
    max-width 700px
    font 400 1.8rem font-dagny
    line-height 32.5px
    letter-spacing -0.01em
    color #737373

.about-third-text
    margin-top 28px
    max-width 700px
    font 400 1.8rem font-dagny
    line-height 32.5px
    color #737373
    letter-spacing -0.01em
    & a
        font 600 2rem font-dagny
        line-height 32.5px
        color #279b92
        letter-spacing: -0.01em
.about-links
    margin-top 123px
    margin-bottom 260px
    & span
        &:not(:last-child)
            margin-right 12%
        & a
            font 600 2rem font-dagny
            color #949499
            &:hover
                color #279b92

@media (max-width: 740px)
    .about-text
        padding 0 8%
    .jumbotron-about
        & img
            width 80%
    

