/* Sliding animation*/
.slide-animation-to-left
    transform translate3d(30%, 0px, 0px);
    -moz-transform translate3d(30%, 0px, 0px);
    -webkit-transform translate3d(30%, 0px, 0px);
    -o-transform translate(30%, 0px);
    -ms-transform translate(30%, 0px);
    transition 0 0 all ease;

.slide-animation-to-right
    transform translate3d(-30%, 0px, 0px);
    -moz-transform translate3d(-30%, 0px, 0px);
    -webkit-transform translate3d(-30%, 0px, 0px);
    -o-transform translate(-30%, 0px);
    -ms-transform translate(-30%, 0px);
    transition 0 0 all ease;
