@require './constants'
@require './slick'

.case-study-jumbotron
    width 100%
    
.project-case-content
    width 100%

.limit-width
    max-width 1440px
    margin-left auto
    margin-right auto
    
.limit-width-not-centered
    max-width 1440px
    
.panel-header-titles
    font 600 1.6rem font-dagny
    letter-spacing: 0.02rem
    color normal-gray
    
/*Brief section*/
.brief-panel
    padding 200px 9% 166px 9%
    
.brief-panel 
    & span.brief-header 
        font 600 2.4rem font-dagny
        color light-gray
        letter-spacing -0.01em
        margin-bottom 70px
        
.left-brief-section
    & p.main-brief
        font 400 3rem font-chaparral
        line-height 42.5px
        letter-spacing -0.02em
        margin-bottom 40px
        color #333333
        
.left-brief-section 
    & p.sub-brief
        font 400 2.4rem font-dagny
        color #737373
        line-height 30pt

.right-brief-section
    padding-left 116px
    & div
        padding-bottom 20px
    & div span
        font 600 2rem font-dagny
        line-height 40px
        letter-spacing -0.01em
        color #4c4c4c
    & div p
        font 400 2rem font-dagny
        letter-spacing -0.01em
        color #4c4c4c

/* Solution section*/
.solution-panel
    padding 140px 0
    & span
        font 600 2.4rem font-dagny
        color #aaaaaa
        letter-spacing -0.01em
    & p.main-solution
        font 400 3.2rem font-chaparral
        text-align center
        letter-spacing -0.02em
        line-height 40pt
        margin-top 60px
        padding 0 14%
    
/* Wireframes panel*/
.wireframes-panel
    background-color wireframe-bg-color
    padding 140px 0 80px 0
    & span
        margin-bottom 60px 
        font 600 2.4rem font-dagny
        color #959595
        letter-spacing -0.01em
        
/* visual designs sections */
.visual-design-panel
    padding 140px 116px
    & span 
        font 600 2.4rem font-dagny
        color #aaaaaa
        letter-spacing -0.01em
    & p
        font 400 2.8rem font-chaparral
        letter-spacing -0.02em
        text-align center
        line-height 40px
        margin-top 60px
        padding 0 15%
    & img
        margin-top 78px

/* Final Designs panel*/
.final-designs-panel
    padding 20px 0 70px 0
    box-shadow 0 10px 10px -10px medium-gray
    z-index 1
    & span
        font 600 2.4rem font-dagny
        color #aaaaaa
        letter-spacing -0.01em
        margin-top 20px
        margin-bottom 60px
    
/* Thanks panel*/
.thanks-panel
    padding 95px 20px
    background-color light-gray-bg-color
    & span
        font 600 4.4rem font-soleil
        color #333333
        letter-spacing -0.03em
    & p
        color #8c8c8c
        margin-top 48px
        text-align center
        font 400 3.2rem font-chaparral
        line-height 40px
        letter-spacing -0.02em
    & p .thanks-link
            color link-teal
            font 400 3.2rem font-chaparral
            text-align center
            line-height 28px
            letter-spacing -0.02em

/* other projects panel*/
.other-projects-panel
    & div
        height 340px
        cursor pointer
    & .filter-layer
        background-color rgba(0, 0, 0, 0.65)
    & span
        font 400 4rem font-chaparral
        color #efefef
        letter-spacing -0.02em
    & p
        font 600 4rem font-soleil
        letter-spacing -0.03em
        color #fafafa

/* Sartorial Specific */
.jumbotron-sartorial
    background-color sartorial-jumbo-bg-color
    height 685px
    width 100%

.product-shots-panel-sartorial
    {light-pagination}

.wireframes-panel-sartorial
    {light-pagination}

.final-designs-panel-sartorial
    {dark-pagination}

.previous-project-panel-sartorial
    background url('../assets/Tidal/Marquee/Tidal_Marquee.png') center no-repeat
    background-size cover
        
.next-project-panel-sartorial
    background url('../assets/Misfit/Marquee/Misfit.png') center no-repeat
    background-size cover
        

/* Tidal Specific */
.jumbotron-tidal
    width 100%
    & img
        width 100%
        
.sub-solutions-tidal
    width 100%
    margin-top 155px
    & div
        max-width 342px
        &:not(:last-child)
            margin-right 77px
    & span
        font 600 2.2rem font-soleil
        letter-spacing -0.03em
        line-height 26.4pt
        color #333333
    & p 
        margin-top 20px
        font 400 2rem font-dagny
        line-height 30pt
        color #737373

.visual-design-panel-tidal
    background-color light-gray-bg-color
    
.final-designs-panel-tidal
    background-color light-gray-bg-color !important
    {dark-pagination}
    
.thanks-panel-tidal
    background-color white

.previous-project-panel-tidal
    background url('../assets/Misfit/Marquee/Misfit.png') center no-repeat
    background-size cover
        
.next-project-panel-tidal
    background url('../assets/Sartorial/Marquee/Letter.png') center center no-repeat
    background-color sartorial-jumbo-bg-color
    background-size 28%
        

/* Misfit Specific */
.jumbotron-misfit
    width 100%
    & img
        width 100%
    
.final-designs-panel-misfit
    padding 130px 0
    background-color light-gray-bg-color !important
    {dark-pagination}

.thanks-panel-misfit
    background-color white

.previous-project-panel-misfit
    background url('../assets/Sartorial/Marquee/Letter.png') center center no-repeat
    background-color sartorial-jumbo-bg-color
    background-size 28%
    width 100%

.next-project-panel-misfit
    background url('../assets/Tidal/Marquee/Tidal_Marquee.png') center center no-repeat
    background-size cover
    width 100%

