@require './constants'

.case-study-jumbotron
    width 100%
    
.project-case-content
    max-width 1440px
    width 100%
    
.panel-header-titles
    font 600 1.6rem font-dagny
    letter-spacing: 0.02rem
    color normal-gray
    
// Brief section
.brief-panel
    padding 155px 9%
    & span.brief-header 
        font 600 2rem font-dagny
        color medium-gray
        margin-bottom 50px
        
.left-brief-section
    & p.main-brief
        font 400 2.6rem font-chaparral
        line-height 40px
        margin-bottom 40px
    & p.sub-brief
        font 400 1.8rem font-dagny
        color dark-gray
        line-height 30px

.right-brief-section
    padding-left 120px
    & div
        padding-bottom 20px
        & span
            font 600 1.6rem font-dagny
            line-height 40px
        & p
            font 400 1.7rem font-dagny

// Solution section
.solution-panel
    padding 130px 8%
    & p.main-solution
        font 400 2.6rem font-chaparral
        text-align center
        line-height 40px
        margin-top 70px
        padding 0 14%
    
// Wireframes panel
.wireframes-panel
    background-color wireframe-bg-color
    padding 120px 0 80px 0
    & span
        margin-bottom 55px 

// visual designs sections
.visual-design-panel
    padding 120px 116px
    & p
        font 400 2.7rem font-chaparral
        text-align center
        line-height 40px
        margin-top 70px
        padding 0 15%
    & img
        margin-top 30px

// Final Designs panel
.final-designs-panel
    padding 20px 0 50px 0
    box-shadow 0 5px 5px -6px light-gray
    z-index 1
    & span
        margin-bottom 40px
    
// Thanks panel
.thanks-panel
    padding 75px 20px
    background-color light-gray-bg-color
    & span
        font 600 3.2rem font-dagny
    & p
        color medium-gray
        margin-top 40px
        text-align center
        font 400 2.4rem font-chaparral
        line-height 28px
        & .thanks-link
            color link-teal
            font 400 2.2rem font-chaparral

// other projects panel
.other-projects-panel
    background-color rgba(0, 0, 0, 0.25)
    color #fafafa
    & div
        height 240px
        cursor pointer
    // & .filter-layer
    //     background-color rgba(0, 0, 0, 0.30)
    & .previous-project-panel
        background url('../assets/letters/M.png') center no-repeat
    & .next-project-panel
        background url('../assets/letters/T.png') center no-repeat
    & span
        font 400 2.7rem font-chaparral
    & p
        margin-top 20px
        font 600 3rem font-dagny

// Sartorial Specific
.jumbotron-sartorial
    background-color #cdd6de
    height 685px
    width 100%

// Tidal Specific
.jumbotron-tidal
    width 100%
.sub-solutions-tidal
    width 100%
    margin-top 100px
    & div
        padding 2%
    & span
        font 500 2.5rem font-dagny
    & p 
        margin-top 10px
        font 400 1.8rem font-dagny
        line-height 25px
        color light-gray

.visual-design-panel-tidal
    background-color light-gray-bg-color
    
.final-designs-panel-tidal
    background-color light-gray-bg-color !important
    
.thanks-panel-tidal
    background-color white

.previous-project-panel-tidal
        background url('../assets/letters/S.png') center no-repeat

.next-project-panel-tidal
        background url('../assets/letters/M.png') center no-repeat

// Misfit Specific
.jumbotron-misfit
    width 100%
    
.final-designs-panel-misfit
    background-color light-gray-bg-color !important
    
.thanks-panel-misfit
    background-color white

.previous-project-panel-misfit
        background url('../assets/letters/T.png') center no-repeat

.next-project-panel-misfit
        background url('../assets/letters/S.png') center no-repeat

