@require './constants'
@require './slick'

.case-study-jumbotron
    width 100%
    
.project-case-content
    width 100%

.limit-width
    width 100%
    max-width 1440px
    margin auto
    
.limit-width-not-centered
    max-width 1440px
    
.panel-header-titles
    font 600 1.8rem font-dagny
    letter-spacing: -0.01em
    line-height 40px
    color light-gray
    text-align center
    
.panel-header-titles-tight
    font 600 1.6rem font-dagny
    color light-gray
    letter-spacing -0.01em
    text-align center    
    
/*Brief section*/
.brief-panel
    padding 177px 9% 195px 9%
    & span.brief-header 
        font 600 1.8rem font-dagny
        color light-gray
        letter-spacing -0.01em
        margin-bottom 80px
        
.left-brief-section
    & p.main-brief
        font 400 30px font-chaparral
        line-height 4.25rem
        letter-spacing -0.02em
        margin-bottom 46px
        color darker-gray
    & p.sub-brief
        font 400 1.7rem font-dagny
        color #737373
        line-height 3.25rem

.right-brief-section
    padding-left 116px
    & div
        padding-bottom 20px
    & div span
        font 600 1.7rem font-dagny
        line-height 40px
        letter-spacing -0.01em
        color #4c4c4c
    & div p
        font 400 1.7rem font-dagny
        letter-spacing -0.01em
        color #4c4c4c

/* Solution section*/
.solution-panel
    padding 118px 0 122px 0
    & p.main-solution
        color darker-gray
        font 400 2.5rem font-chaparral
        text-align center
        letter-spacing -0.02em
        line-height 40px
        margin-top 60px
        padding 0 19%
    
/* Wireframes panel*/
.wireframes-panel
    background-color wireframe-bg-color
    padding 117px 0 80px 0
    & span.panel-header-titles
        margin-bottom 60px 
        color white-gray
    & p.wireframes-opener
        font 400 2.5rem font-chaparral
        color #8a969f
        text-align: center
        letter-spacing -0.02em
        line-height 40px
        padding 0 25%
        margin-bottom 105px
        
        
/* visual designs sections */
.visual-design-panel
    padding 117px 8% 136px 8%
    & span
        color #b7b7b7
    & p
        font 400 2.5rem font-chaparral
        color darker-gray
        letter-spacing -0.02em
        text-align center
        line-height 40px
        margin-top 60px
        margin-bottom 78px
        padding 0 20%
    & img
        width 100%
        
/* Final Designs panel*/
.final-designs-panel
    box-shadow 0 10px 10px -10px medium-gray
    z-index 1
    padding-bottom 60px
    & span
        font 600 3rem font-dagny
        color #b7b7b7
        letter-spacing -0.03em
        line-height 40px
        margin-bottom 50px
    
/* Thanks panel*/
.thanks-panel
    padding 103px 0 94px 0
    background-color light-gray-bg-color
    & span
        font 600 3.4rem font-soleil
        color #333333
        letter-spacing -0.03em
        line-height 41px
        text-align center
        margin-bottom 44px
    & p
        color #8c8c8c
        text-align center
        font 400 2.5rem font-chaparral
        line-height 40px
        letter-spacing -0.02em
    & p .thanks-link
            color link-teal
            font 400 2.5rem font-chaparral
            text-align center
            line-height 40px
            letter-spacing -0.02em

/* other projects panel*/
.other-projects-panel
    & div
        height 340px
        cursor pointer
    & .filter-layer
        background-color rgba(0, 0, 0, 0.65)
    & span
        font 400 2.6rem font-chaparral
        color #efefef
        letter-spacing -0.02em
        line-height 42px
        text-align center
    & p
        font 600 3.4rem font-soleil
        letter-spacing -0.03em
        line-height 41px
        color #fafafa

/* Sartorial Specific */
.jumbotron-sartorial
    background-color sartorial-jumbo-bg-color
    height 685px
    width 100%

.product-shots-panel-sartorial
    {light-pagination}
    & img
        width 100%

.wireframes-panel-sartorial
    {light-pagination}

.final-designs-panel-sartorial
    {dark-pagination}

.previous-project-panel-sartorial
    background url('../assets/Tidal/Marquee/Tidal_Marquee.png') center no-repeat
    background-size cover
        
.next-project-panel-sartorial
    background url('../assets/Misfit/Marquee/Misfit.png') center no-repeat
    background-size cover
        

/* Tidal Specific */
.jumbotron-tidal
    width 100%
    & img
        width 100%
        
.sub-solutions-tidal
    width 100%
    margin-top 155px
    & div
        max-width 342px
        &:not(:last-child)
            margin-right 77px
    & span
        font 600 2.2rem font-soleil
        letter-spacing -0.03em
        line-height 26.4pt
        color #333333
    & p 
        margin-top 20px
        font 400 2rem font-dagny
        line-height 30pt
        color #737373

.visual-design-panel-tidal
    background-color light-gray-bg-color
    
.final-designs-panel-tidal
    background-color light-gray-bg-color !important
    {dark-pagination}
    
.thanks-panel-tidal
    background-color white

.previous-project-panel-tidal
    background url('../assets/Misfit/Marquee/Misfit.png') center no-repeat
    background-size cover
        
.next-project-panel-tidal
    background url('../assets/Sartorial/Marquee/Letter.png') center center no-repeat
    background-color sartorial-jumbo-bg-color
    background-size 28%
        

/* Misfit Specific */
.jumbotron-misfit
    width 100%
    & img
        width 100%
    
.final-designs-panel-misfit
    padding 130px 0
    background-color light-gray-bg-color !important
    {dark-pagination}

.thanks-panel-misfit
    background-color white

.previous-project-panel-misfit
    background url('../assets/Sartorial/Marquee/Letter.png') center center no-repeat
    background-color sartorial-jumbo-bg-color
    background-size 28%
    width 100%

.next-project-panel-misfit
    background url('../assets/Tidal/Marquee/Tidal_Marquee.png') center center no-repeat
    background-size cover
    width 100%
    
/*
    Nomad
*/

.jumbotron-nomad
    width 100%
    background-color #434545
    & img
        width 100%
        
.nomad-planning-panel
    padding 100px 0
    & span
        font 600 1.6rem font-dagny
        color light-gray
        letter-spacing -0.01em
    & p
        color darker-gray
        font 400 2.4rem font-chaparral
        text-align center
        letter-spacing -0.02em
        line-height 36px
        margin-top 50px
        padding 0 15%
        
.nomad-research-panel
    background-color #F5F5F5
    & span.panel-header-titles-tight
        margin-top 100px
    & div.research-container
        margin-bottom 100px
        & div.research-col-container
            margin 0 5%
        & div.research-results
            max-width 350px
            margin-top 30px
            & span.nomad-percent
                color dark-gray
                font 600 4.8rem font-soleil
                letter-spacing -0.02em
                margin-bottom 10px
            & span.nomad-research-header
                font 600 1.7rem font-soleil
                color link-teal
                letter-spacing -0.02em
                margin-bottom 8px
            & p
                font 600 1.5rem font-soleil
                color normal-gray

.nomad-archetypes-panel
    & span.panel-header-titles-tight
        margin-top 100px
        margin-bottom 40px
    & p.archetypes-text
        color darker-gray
        font 400 2.4rem font-chaparral
        text-align center
        letter-spacing -0.02em
        line-height 36px
        padding 0 17%
    & div.archetypes-container
        margin 110px 0
        & div.user-archetype
            & div.glyph-container
                height 180px
            & span
                margin-top 50px
                font 600 2.8rem font-soleil
                color dark-gray
            & p
                margin-top 20px
                font 400 1.6rem font-soleil
                color medium-gray
                padding 0 9%

.nomad-solution-panel
    background-color #f5f5f5
                
.nomad-wireframes-panel
    {dark-pagination}
    background-color #434545
    & div.nomad-wireframe-inner-panel
        padding 0 6%
        & img.nomad-wireframe-image
            max-width 90%
            max-height 675px
            margin auto
        & div.nomad-wireframe-breakdown-container
            padding 0 8%
            & div.nomad-wireframe-main-info
                & span.wireframe-main-info-title
                    font 600 2.8rem font-soleil
                    color #fafafa
                & span.wireframe-main-info-device
                    font 600 1.6rem font-soleil
                    color #fafafa
                & p.wireframe-main-info-body
                    font 400 1.4rem font-soleil
                    color normal-gray
                    line-height 25px
                    margin-top 20px
            & div.wireframe-explanations
                & span.wireframe-explanations-number
                    font 400 1.4rem font-soleil
                    color nomad-blue
                    margin-top 25px
                & span.wireframe-explanations-title
                    font 400 1.8rem font-soleil
                    color nomad-blue
                & p.wireframe-explanations-body
                    font 400 1.4rem font-soleil
                    color normal-gray


