// Font colors
dark-gray = #4E4E4E
medium-gray = #6f6f6f
normal-gray = #929292
light-gray = #a4a4a4
link-teal = #228A72

// Background colors
wireframe-bg-color = #d9e3eb
light-gray-bg-color = #f2f2f2

// Fonts
font-chaparral = "chaparral-pro", Serif
font-dagny = "ff-dagny-web-pro", Sans-Serif;