/*Font colors*/
dark-gray = #4E4E4E
medium-gray = #6f6f6f
normal-gray = #929292
light-gray = #aaaaaa
link-teal = #228A72
active-nav = #059893
nav-gray = #848484
sub-header = #4d4d4d

/*Background colors*/
wireframe-bg-color = #d9e3eb
light-gray-bg-color = #f2f2f2
sartorial-jumbo-bg-color = #D0DFEC

/*Fonts*/
font-chaparral = "chaparral-pro", Serif
font-dagny = "ff-dagny-web-pro", Sans-Serif;
font-soleil = "soleil", Sans-Serif
