// Font colors
medium-gray = #6f6f6f

light-gray = #a4a4a4

link-teal = #228A72

// Background colors

wireframe-bg-color = #d9e3eb

light-gray-bg-color = #f2f2f2

// Fonts
font-kepler = "kepler", Serif
font-dagny = "ff-dagny-web-pro", Sans-Serif;