footer
    width 100%
    background-color #ffffff
    height 80px
    & span.copy-right
        margin-left 9%
        font 400 1.5rem font-dagny
        color #b1b1b1
        letter-spacing 0.01em
        & a
            font 400 1.5rem font-dagny
            color #b1b1b1
            letter-spacing 0.01em
