@require './constants'

.jumbotron
	background url('../../assets/images/Background.png') no-repeat 
	background-size cover
	width 100%
	& div.main-jumbotron-container
		margin-top 260px
		margin-bottom 243px
		& div.main-jumbotron-image-container
			max-width 578px
			& img 
				width 100%
		& span
			font 400 3rem font-chaparral
			color #e6e6e6
			line-height 36px
			letter-spacing -0.03em
			margin-top 25px

.project-cases
	max-width 1440px
	width 100%
	
/* Shared case study styling elements*/

.max-ipad-width
	max-width 1077px
	& img
		width 1077px

.max-iphone-width
	max-width 814px
	& img
		width 814px

.max-mac-width	
	max-width 1288px
	& img
		width 1288px

.project-cases-item
	position relative
	height 1000px
	
.project-cases-item:not(:first-child)
	margin-top 0px

.project-case-item-info-panel
	position relative
	padding-top 150px

.project-case-main-header 
	font 600 5.6rem font-soleil
	margin-top 15px
	letter-spacing -0.04em
	line-height 100%
	
.project-case-sub-header
	font 600 1.8rem font-dagny
	color sub-header
	letter-spacing -0.01em
	line-height 100%
	
.project-case-info p
	font 400 2.5rem font-chaparral
	line-height 35px
	letter-spacing -0.02em
	margin-top 60px
	color #373737
		
.project-case-info a
	font 600 1.8rem font-soleil
	letter-spacing -0.03em
	line-height 100%
	margin-top 40px
	text-decoration none
	color #939393

.right-big-letter
	position relative
	right 6%
	
.left-big-letter
	position relative
	left 8%
	                
// Case study specific styling elements

/*
	Nomad
*/
.project-case-image-nomad
	position absolute
	top 15%
	left 55%

.project-case-item-info-panel-nomad
	position relative
	right 3%

.project-case-body-nomad
	position absolute
	left 14%
	right 0
	margin-top 150px

.project-case-info-nomad
	padding-left 16%
	padding-right 5%

.project-case-main-header-nomad
	color #5e927d
	 
/*
	Sartorial
*/
.project-case-item-sartorial
	height 950px
	
.project-case-image-sartorial
	position absolute
	right 57%
	top -18%

.project-case-item-info-panel-sartorial
	position relative
	right 3%

.project-case-body-sartorial
	position absolute
	right 14%
	left 0
	margin-top 150px

.project-case-info-sartorial
	padding-left 18%

.project-case-main-header-sartorial
	color #ad956b
	
/* Tidal*/
.project-case-item-tidal
	height 900px

.project-case-image-tidal
	position absolute
	right 57%
	top -18%

.project-case-item-info-panel-tidal
	position relative
	right 3%

.project-case-body-tidal
	position absolute
	right 14%
	left 0
	margin-top 150px

.project-case-info-tidal
	padding-left 17%

.project-case-main-header-tidal 
	color #0099cb

/* Concerto */

.project-case-item-concerto
	height 950px

.project-case-image-concerto
	position absolute
	top 2%
	left 52.4%

.project-case-body-concerto
	position absolute
	left 14%
	right 0
	margin-top 150px

.project-case-info-concerto
	padding-left 18%
	padding-right 2%
	
.project-case-main-header-concerto
	color #f3484c
	
/*  Misfit*/
.project-case-image-misfit
	position absolute
	top -23%
	left 57.5%

.project-case-body-misfit
	position absolute
	left 14%
	right 0
	margin-top 150px

.project-case-info-misfit
	padding-left 16%
	
.project-case-main-header-misfit
	color #e55c4a

.main-page-social-media-panel
	position relative
	& div
		position absolute
		margin-top 123px
		margin-bottom 112px !important
		left 8%
		& span
			&:not(:last-child)
				margin-right 12%
			& a
				font 600 2rem font-dagny
				color #949499
				&:hover
					color #279b92
