@require './constants'

.jumbotron
	background url('../../assets/images/bw.jpg') no-repeat
	background-size cover
	height 685px
	width 100%

.project-cases
	max-width 1440px
	width 100%
	padding-top 180px
	
/* Shared case study styling elements*/

.project-cases-item
	position relative
	height 1000px
	
.project-cases-item:not(:first-child)
	margin-top 190px

.project-case-item-info-panel
	position relative
	padding-top 150px

.project-case-main-header 
	font 600 5rem font-soleil
	margin-top 17px
	letter-spacing -0.03em
	
.project-case-sub-header
	font 600 2.4rem font-dagny
	color sub-header
	letter-spacing -0.01em
	
.project-case-info p
	font 400 2.8rem font-chaparral
	line-height 32px
	letter-spacing: -0.02em
	margin-top 68px
	color #373737
	line-height 46px
		
.project-case-info a
	font 600 2.4rem font-soleil
	letter-spacing -0.03em
	margin-top 40px
	text-decoration none
	color normal-gray

.right-big-letter
	position relative
	right 6%
	
.left-big-letter
	position relative
	left 8%

/* 
	Case study specific styling elements
*/

/*
	Nomad
*/
.project-case-image-nomad
	position absolute
	top 15%
	right 58%

.project-case-item-info-panel-nomad
	position relative
	right 3%
	& img.right-big-letter
		max-height 260px

.project-case-body-nomad
	position absolute
	right 14%
	left 0
	margin-top 150px

.project-case-info-nomad
	padding-left 16%

.project-case-main-header-nomad
	color #0099cb
	 
/*
	Sartorial
*/
.project-case-image-sartorial
	position absolute
	left 53%

.project-case-body-sartorial
	position absolute
	left 10%
	right 0
	margin-top 150px

.project-case-info-sartorial
	padding-left 16%

.project-case-main-header-sartorial
	color #ad956b
	
/* Tidal*/
.project-case-image-tidal
	position absolute
	right 58%

.project-case-item-info-panel-tidal
	position relative
	right 3%

.project-case-body-tidal
	position absolute
	right 14%
	left 0
	margin-top 150px

.project-case-info-tidal
	padding-left 16%

.project-case-main-header-tidal 
	color #0099cb

/* Concerto */
.project-case-image-concerto
	position absolute
	top 15%
	left 49%

.project-case-body-concerto
	position absolute
	left 14%
	right 0
	margin-top 150px

.project-case-info-concerto
	padding-left 16%
	
.project-case-main-header-concerto
	color #f3484c
	
/*  Misfit*/
.project-case-image-misfit
	position absolute
	right 58%

.project-case-item-info-panel-misfit
	position relative
	right 3%
.project-case-body-misfit
	position absolute
	right 14%
	left 0
	margin-top 150px

.project-case-info-misfit
	padding-left 16%
	
.project-case-main-header-misfit
	color #e55c4a

