header
    position fixed
    top 0
    left 0
    right 0
    z-index 9999
    height 70px

.navbar-logo-container
    position absolute
    max-width 70px
    left 30px
    top 32px
    transition all 0.5s ease
    & img 
        width 100%
    
.nav-buttons-holder
    transition all 0.5s ease
    padding-top 50px;
       
.navbar-link
    font 800 1.4rem font-dagny
    letter-spacing 0.1rem
    color nav-gray
    text-decoration none
    padding-right 55px
    letter-spacing 0.11em
    &:last-child
        padding-right 60px

.navbar-link:hover
    color active-nav

.active-nav
    color active-nav
