header
    position absolute
    top 0
    left 0
    right 0
    z-index 1

.nav-buttons-holder
    padding 45px 65px 0 0
    width 220px
   
.navbar-link
    font 800 1.6rem font-dagny
    letter-spacing 0.1rem
    color medium-gray
    text-decoration none 
    &:hover
        color #fafafa

.active-nav
    color #fafafa