header
    position absolute
    top 0
    left 0
    right 0
    z-index 999
    height 80px
.nav-buttons-holder
    padding-top 50px;
       
.navbar-link
    font 800 1.4rem font-dagny
    letter-spacing 0.1rem
    color nav-gray
    text-decoration none
    padding-right 55px
    letter-spacing 0.11em
    &:last-child
        padding-right 60px

.navbar-link:hover
    color active-nav

.active-nav
    color active-nav
