.jumbotron-sartorial
    background-color #d9e3eb
    height 800px
    width 100%

.project-case-content
    max-width 1440px
    width 100%
    
.panel-header-titles
    font 500 1.7rem 'Helvetica Neue' Arial
    color gray
    
// Brief section
.brief-panel
    padding 10% 9%
    
.wireframes-panel
    background-color #d9e3eb   

.brief-panel
     & span.brief-header 
        font 600 1.8rem 'Helvetica Neue' Arial
        color gray
        margin-bottom 50px
        
.left-brief-section
    & p.main-brief
        font 400 2.5rem 'Helvetica Neue' Arial
        line-height 40px
        margin-bottom 40px
    & p.sub-brief
        font 500 1.7rem 'Helvetica Neue' Arial
        color gray
        line-height 30px


.right-brief-section
    padding-left 120px
    & div
        padding-bottom 25px
        & span
            font 500 1.8rem 'Helvetica Neue' Arial
        & p
            font 300 1.7rem 'Helvetica Neue' Arial
            margin 10px 0 0 0


    
// Solution section
.solution-panel
    padding 120px 18%
    & p
        font 300 2.5rem 'Helvetica Neue' Arial
        text-align center
        line-height 40px
        margin-top 70px
        
// Wireframes panel
.wireframes-panel
    padding 120px 0 80px 0
    & span
        margin-bottom 55px 

// visual designs sections
.visual-design-panel
    padding 120px 116px
    & p
        font 300 2.5rem 'Helvetica Neue' Arial
        text-align center
        line-height 40px
        margin-top 70px
        padding 0 18%
    & img
        margin-top 30px

// Final Designs panel
.final-designs-panel
    padding 20px 0 50px 0
    & span
        margin-bottom 40px
    
// Thanks panel
.thanks-panel
    padding 50px 20px
    background-color gray
    & span
        font 500 2.3rem 'Helvetica Neue' Arial
    & p
        margin-top 25px
        text-align center
        font 300 1.6rem 'Helvetica Neue' Arial
    