.slick-carousel
    width 100%
    
.wireframes-panel .slick-slide
    width 420px !important
.wireframes-panel .slick-slide img
    margin-left auto

.wireframes-panel .slick-dots
        bottom -70px

.final-designs-panel .slick-slide
        width 420px !important
.final-designs-panel .slick-slide img
    margin-left auto
            
.final-designs-panel .slick-dots
        bottom -40px

.product-shots-panel img
    width 100%

.slick-next
    background url('../assets/Arrows/Next_Arrow.png') center center no-repeat !important
    right 0
    top 0
    width 50px
    height 100%
    
.slick-next:hover
    cursor pointer
    
.slick-next::before
    content none !important

.slick-prev
    background url('../assets/Arrows/Previous_Arrow.png') center center no-repeat !important
    left 0
    top 0
    width 50px
    height 100%
    color black
    
.slick-prev:hover
    cursor pointer
.slick-prev:before
    content none !important

.slick-disabled
    cursor default !important

.slick-slider
    margin-bottom 0px

.slick-dots
    bottom 0px
    
light-pagination = 
    .slick-dots li button
        background url('../assets/Pagination/Pagination_Light.png') center center no-repeat !important
        opacity 1
    .slick-dots li button::before
        color transparent
            
    .slick-dots li.slick-active button:before 
        background url('../assets/Pagination/Pagination_Selected_Light.png') center center no-repeat !important
        opacity 1
        color transparent !important

dark-pagination = 
    .slick-dots li button
        background url('../assets/Pagination/Pagination_Dark.png') center center no-repeat !important
        opacity 1
    .slick-dots li button::before
        color transparent
    .slick-dots li.slick-active button:before 
        background url('../assets/Pagination/Pagination_Selected_Dark.png') center center no-repeat !important
        opacity 1
        color transparent !important
