.slick-carousel
    width 100%
    
.wireframes-panel .slick-slide
        width 420px !important
        & img
            margin-left auto

.wireframes-panel
    & .slick-dots
        bottom -70px

.final-designs-panel .slick-slide
        width 420px !important
        & img
            margin-left auto
.final-designs-panel
    & .slick-dots
        bottom -40px

.product-shots-panel
    & img
        width 100%

.slick-next
    right 0
    top 0
    width 50px
    height 100%
    &:hover
        cursor pointer
.slick-prev
    left 0
    top 0
    width 50px
    height 100%
    color black
    &:hover
        cursor pointer

.slick-disabled
    cursor default !important

.slick-slider
    margin-bottom 0px

.slick-dots
    bottom 0